[submodule "wasm_tools/cpp/cJSON"]
	path = wasm_tools/cpp/cJSON
	url = https://github.com/DaveGamble/cJSON
[submodule "third_party/android_ndk"]
	path = third_party/android_ndk
	url = https://github.com/denoland/android_ndk.git
