/target
/.idea
/node_modules
./node_modules
/snapshot-bin
./3em-js-benchmark.json
./3em-wasm-benchmark.json
./3em-evm-benchmark.json
./smartweave-js-benchmark.json
./redstone-js-benchmark.json
3em-js-benchmark.json
3em-wasm-benchmark.json
3em-evm-benchmark.json
smartweave-js-benchmark.json
redstone-js-benchmark.json
/testdata/01_wasm/target
/testdata/02_wasm/node_modules
/crates/evm/wasm/target
/data/benchmark_dev.json

**/node_modules
*/node_modules
**/target/**
*/target/*
